
body {
    margin: 0;
    font-family: 'Halant', serif;
    font-weight: 700;
    background-color: #F0EDE6;
    display: grid;
    place-content: center;
}

nav{
    padding: 3rem;
}

.header{
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    color: #DD7564;
    font-family: 'Satisfy', cursive;
    font-weight: 400;
}

textarea{
    width: 80%;
    padding: 1.5rem;
}

.text{
    min-width: 5px;
    max-width: 100%;
    position: relative;
    top: 50%;
    display: block;
    text-align: center;
}

#btn-translate{
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #B2DEDD;
    font-weight: 700;

}

.op-stmt{
    margin-top: 6rem;
    text-align: center;
   
}

.output{
    padding: 3rem;
    border: 1px solid black;
    background-color: white;
}

.abt{
    font-size: 2rem;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    
}